/.bundle
capybara-*.html
/coverage/
/db/*.sqlite3
/log/*
**.orig
pickle-email-*.html
pkg/
/public/system/*
*.rbc
rerun.txt
.rspec
*.sassc
.sass-cache
/spec/dummy/db/*.sqlite3
/spec/dummy/log/*.log
/spec/dummy/.sass-cache
/spec/dummy/tmp/
/spec/tmp/*
/tmp/*
/vendor/bundle
