<!DOCTYPE html>
<html>
<head>
  <title>Worldwise</title>
  <%= stylesheet_link_tag    "worldwise/application", :media => "all" %>
  <%= javascript_include_tag "worldwise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
